.footer {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 40px; 
    padding: 40px 40px;
    background-color:   #352f44; 
    flex-wrap: wrap;
  }

  .footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 16px;
    margin: 5px 0;
  }

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  flex-shrink: 0; 
  margin-left: 150px;
}
  
.footer-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: #fff;
  }
  
  .footer-icon {
    font-size: 24px;
    color: #fff;
  }
  
  .footer-map iframe {
    width: 700px;
    height: 220px;
    border-radius: 8px;
  }
  